---
import { useTranslations } from "@/i18n/translations"

const t = useTranslations(Astro.locals.locale)
---

<footer class="border-t border-base-content/30 mt-10 py-6 text-center text-sm text-base-content/60">
  <div>{t.footer.builtWith}</div>
  <a href="#" class="link link-hover block mt-2">{t.footer.backToTop}</a>
</footer>
