---
const sidebarLinks = [
  "FS WIAI - Jobbörse",
  "FS SOWI - Terminkalender",
  "FS HUWI",
  "FS GuK",
  "USI e.V. - Wandkalender",
  "... und viele weitere!",
];
---

<div
  class="card border border-base-300 overflow-hidden max-md:order-first md:row-span-2 md:col-start-3"
>
  <div class="bg-base-200 p-4">
    <h2 class="font-semibold italic">Über uns</h2>
    <p class="mt-1 text-sm">
      Unser Ziel ist es, Bamberger Studierenden eine zentrale Anlaufstelle für alle wichtigen
      Informationen rund ums Studium zu bieten.
    </p>
  </div>

  <div class="p-4">
    <h3 class="text-sm font-semibold italic mb-1">Entwicklung/Betrieb der Plattform</h3>
    <ul class="flex flex-col gap-2 text-sm mb-4">
      <li><a href="#" class="link link-hover text-blue-600">Platzhalter e. V.</a></li>
    </ul>

    <h3 class="text-sm font-semibold italic mb-1">Teilverantwortliche Gruppen</h3>
    <ul class="flex flex-col gap-2 text-sm">
      {sidebarLinks.map((name) => <li><a href="#" class="link link-hover text-blue-600">{name}</a></li>)}
    </ul>
  </div>
</div>
